Flask==3.0.3
scikit-learn==1.5.1
numpy==1.26.4
pandas==2.2.2
xgboost==2.1.1
joblib==1.4.2
matplotlib==3.9.2
seaborn==0.13.2
ftfy==6.2.0
emoji==2.12.1
nltk==3.9.1
markdown-it-py==4.0.0
rich==14.1.0
gunicorn==23.0.0
